---
import Layout from "../layouts/Layout.astro";

import credits from "../collections/credits.json" with { type: "json" };

import "./credits.css";
---

<Layout page={{ title: "Manderrow - Credits", description: "Credits for Manderrow." }}>
  <header>
    <h1>Credits</h1>
  </header>
  <main>
    <ol class="credits__list">
      {
        credits.map((author) => (
          <li>
            <img src={author.picture_link} alt={author.name} style={{ height: "var(--pfp-height)" }} />

            {author.link ? (
              <a href={author.link} target="_blank" rel="noopener noreferrer" data-name>
                {author.name}
              </a>
            ) : (
              <p data-name>{author.name}</p>
            )}
            <p data-role>{author.role}</p>
          </li>
        ))
      }
    </ol>
  </main>
</Layout>
