---
import "./_index/index.css";

import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel";
import ElegantGameIcons from "../components/ElegantGameIcons";

import gameSelectImg from "../assets/img/game_select.png";
import profileImg from "../assets/img/profiles.png";
import modsImg from "../assets/img/mods.png";

import logo from "../assets/img/logo/Manderrow logo.svg";
import lethalLogo from "../assets/img/games/lethal-company.png";
import repoLogo from "../assets/img/games/repo.png";
import roundsLogo from "../assets/img/games/rounds.png";
import contentWarningLogo from "../assets/img/games/content-warning.png";
import valheimLogo from "../assets/img/games/valheim.png";
import riskOfRainLogo from "../assets/img/games/risk-of-rain.png";

import launchTimeGraph from "../assets/img/graphs/App Launch Time.svg";
import memoryUsageGraph from "../assets/img/graphs/Memory Usage.svg";
import indexLoadGraph from "../assets/img/graphs/Mod Index Loading Time.svg";
import Image from "astro/components/Image.astro";
---

<Layout
  page={{
    title: "Manderrow",
    description: "The most well-made and comprehensive mod manager for Thunderstore",
  }}
>
  <header>
    <div class="header__text">
      <h1>Manderrow</h1>
      <p>The most well-made and comprehensive mod manager for Thunderstore.</p>

      <a href="/download?auto" base-link class="downloadBtn">Download</a>
    </div>

    <ElegantGameIcons
      id="header-icons"
      icons={[
        {
          point: [65, -50],
          img: lethalLogo,
        },
        {
          point: [-80, -60],
          img: repoLogo,
        },
        {
          point: [85, -20],
          img: roundsLogo,
        },
        {
          point: [-60, -16],
          img: contentWarningLogo,
        },
        {
          point: [25, -28],
          img: valheimLogo,
        },
        {
          point: [-20, -30],
          img: riskOfRainLogo,
        },
      ]}
    />
  </header>

  <main id="convergence-target">
    <section class="screenshots" id="screenshots">
      <div class="carousel-logo">
        <div class="carousel-logo__inner">
          <img src={logo.src} alt="Manderrow logo" />
        </div>
      </div>
      <div class="carousel-logo__borderGlow" aria-hidden="true"></div>

      <Carousel
        containerClass="screenshots__carousel"
        navDots
        elements={[
          {
            id: "game_select",
            image: { src: gameSelectImg.src, alt: "Game select screen" },
          },
          {
            id: "profiles",
            image: { src: profileImg.src, alt: "Profiles screen" },
          },
          {
            id: "mods",
            image: { src: modsImg.src, alt: "Mod list screen" },
          },
        ]}
        client:load
      />
    </section>
    <section class="features viewing-width" id="features">
      <h2>Features</h2>

      <ul class="features__cards">
        <li class="features__card">
          <h3>Performant</h3>

          <p>Built with speed and efficiency in mind.</p>
        </li>
        <li class="features__card">
          <h3>Multilingual</h3>

          <p>Supports multiple languages (English, Spanish, French, Chinese) out-of-the-box.</p>
        </li>
        <li class="features__card">
          <h3>Fully Cross-platform</h3>

          <p>First-class support for Windows, macOS, and Linux.</p>
        </li>
        <li class="features__card">
          <h3>Powerful UI</h3>

          <p>Intuitive and user-friendly interface without compromising functionality.</p>
        </li>
        <li class="features__card">
          <h3>Active Development</h3>

          <p>Never before seen features planned for the future.</p>
        </li>
        <li class="features__card">
          <h3>For Developers</h3>

          <p>With developer-oriented tools baked in.</p>
        </li>
      </ul>
    </section>
    <section class="graphs" id="graphs">
      <h2>Versus Competitors</h2>
      <p>Let the numbers speak for themselves</p>

      <div class="graphs__grid viewing-width">
        <div class="graphs__item">
          <Image src={memoryUsageGraph} alt="Memory graph" class="graphs__chart" />
          <div class="graphs__info">
            <h3>Memory usage</h3>
            <p>Compared with a loaded mod index of Lethal Company (45k mods).</p>
          </div>
        </div>
        <div class="graphs__item">
          <Image src={indexLoadGraph} alt="Load time graph" class="graphs__chart" />
          <div class="graphs__info">
            <h3>Loading time</h3>
            <p>
              Compared with the time to load the Lethal Company mod index (45k mods) on a XXX Kb/s download connection.
            </p>
          </div>
        </div>
        <div class="graphs__item">
          <Image src={launchTimeGraph} alt="Launch time graph" class="graphs__chart" />
          <div class="graphs__info">
            <h3>Launch time</h3>
            <p>Compared with the time to practically interactive (past blocking loading screens)</p>
          </div>
        </div>
      </div>

      <p class="graphs__disclaimer">
        *Mid-tier PC tests conducted on a desktop computer with a XXX CPU, XX GB of RAM at XXXX MT/s, and XXX SSD on
        Windows XX.
        <br />
        **Low-end PC tests conducted on a desktop computer with a XXX CPU, XX GB of RAM at XXXX MT/s, and XXX SSD on Windows
        XX.
      </p>
    </section>
    <section class="cta" id="cta">
      <h2>Get Manderrow Now</h2>

      <a href="/download?auto" class="downloadBtn" base-link>Download</a>
    </section>
    <section class="credits viewing-width" id="credits">
      <h2>Credits</h2>

      <p>
        Thank you to all the contributors and supporters who have made this project possible. For the ever-growing list,
        see <a href="/credits" class="credits__link">here</a>.
      </p>
    </section>
  </main>
</Layout>

<script>
  import { ICON_CLASS } from "../components/ElegantGameIcons";

  // Header game icons
  const view = document.getElementById("convergence-target")!;
  const icons = document.querySelectorAll<HTMLLIElement>("#header-icons li." + ICON_CLASS);
  const carouselLogo = document.querySelector<HTMLDivElement>(".carousel-logo")!;

  function reposition() {
    const animationPercent = Math.min(1, window.scrollY / view.offsetTop / 0.5);

    carouselLogo.dataset.active = animationPercent === 1 ? "true" : "false";

    for (const icon of icons) {
      const negative = icon.dataset.negative === "false";
      icon.style.setProperty("--offset", `${animationPercent}`);
      icon.style.setProperty("--rotation", `${(negative ? 20 : -20) + animationPercent * (negative ? -40 : 40)}deg`);
    }
  }

  document.addEventListener("scroll", reposition, { passive: true });
  reposition();

  // Features glow
  const featureCards = document.querySelector<HTMLUListElement>(".features__cards")!;

  document.addEventListener("mousemove", (e) => {
    featureCards.style.setProperty("--mouse-x", `${e.x}px`);
    featureCards.style.setProperty("--mouse-y", `${e.y}px`);
  });
</script>
